# Eclipse files
.settings
.classpath
.project
bin

# idea files
*.iml
*.ipr
*.iws
.idea/
out

# OS X folder attribute file
.DS_Store

# gradle caches
.gradle

# gradle build dir
build

# assets
src/main/assets

# android generated dir
src/main/gen

# npm modules
node_modules

# bower components
bower_components

# vim swp file
*.swp

# jasmine spec runner
_SpecRunner.html

# grunt temporary files
.grunt

# instrumented js
src/main/js-cov
