# idea files
*.iml
*.ipr
*.iws
.idea/
out

# gradle caches
.gradle

# gradle build dir
build

# android assets
# assets are build by middleman
src/main/assets

# android generated dir
src/main/gen

# local android sdk setting file (necessary for IntelliJ)
# its content is like "sdk.dir=/Application/android-sdk-macosx"
local.properties

# bower components
bower_components
