# Eclipse files
.settings
.classpath
.project
bin

# idea files
*.iml
*.ipr
*.iws
.idea/
out

# OS X folder attribute file
.DS_Store

# gradle caches
.gradle

# gradle build dir
build

# assets
android/src/main/assets

# android generated dir
android/src/main/gen
