<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
  </head>
  <body>
    {{ content }}
    <script src="js/jquery.min.js"></script>
    <script src="js/straw-android.js"></script>
    <script src="js/straw-android-http-plugin.js"></script>
    <script src="js/domain/iprecord.js"></script>
    <script src="js/domain/iprecordfactory.js"></script>
    <script src="js/whatsmyip.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
