
<footer style="color: #777;">

  <div class="container">

    <p>Created by <a href="javascript:straw.browser.open('http://app.kt3k.com/')">app.kt3k.com</a></p>

    <p>

      version v1.0.0 -

      <a href="javascript:straw.browser.open('http://google.com/')"><t>common.googleplay</t></>

    </p>

  </div>

</footer>
