
<div class="input-group input-group">

  <span class="input-group-addon" id="ip-reload-button"><i id="ip-loading" class="fa fa-refresh fa-spin"></i></span>

  <input id="ip-input" onclick="this.select()" type="text" class="form-control t-attr" placeholder="loading..." />

</div>
