---
title: Welcome to Middleman
---

<div class="container">

  {% include 'loading' %}

  <div class="ip-load-done" style="margin-top: 30px; display: none;">

    <button type="button" class="btn btn-info link-to-records"><t>page.history</t></button>

    <button type="button" class="btn btn-default ip-reload-button"><t>common.reload</t></button>

  </div>

</div>

{% include 'footer' %}

<script>

  $(window.index.main);

</script>
