---
title: Welcome to Middleman
---

<div class="container">

  {% include 'loading' %}

</div>

<t>st_id</t>


<input a="1" b="2" class="t-attr" placeholder="t:abc" />

<br />

<span class="t-text">st_id</span>

{% include 'footer' %}

<script>

  $(window.index.main);

</script>
