---
title: Welcome to Middleman
---

<div class="container">

history page

  <div class="debug"></div>

</div>

{% include 'footer' %}

<script>

  $(window.page.records.main);

</script>
<script id="record-row" type="text/template">
</script>
