
//= require 'bootstrap'

@charset "utf-8";


body, html {
  background: #e4e4e4;
  text-align: center;
}


/* hide untranslated elems */
t, .t-text, .t-attr {

    visibility: hidden;

}


footer {
    margin-top: 50px;
    border-top: solid 1px #bbb;
    padding-top: 30px;
}
